/* ========================================================================
 * Music v1.3.3
 * https://github.com/alashow/music
 * ======================================================================== */

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	height: 100%;
}
::selection {
	background: rgba(44, 62, 80, 0.62) !important;
	color: rgb(255, 247, 231);
}
body {
	font-weight: 400;
	height: 100%;
	padding-top: 65px;
}
.wrapper {
	min-height: 97%;
	margin-bottom: -40px;
}
.wrapper:after {
	content: "";
	display: block;
}
.navbar {
	margin-bottom: 0px;
}
.navbar-brand {
	cursor: pointer;
}
.input-group {
	margin-top: 5px;
}
#settings span {
	font-size: 25px;
	top: 8px;
	line-height: 0;
	cursor: pointer;
	margin-right: 10px;
}
.modal-footer {
	padding: 10px;
}
.list-group .list-group-item {
	width: 100%;
	word-break: break-all;
}
a {
	text-decoration: none !important;
}
li.list-group-item a {
	color: #555555;
}
li.list-group-item a:hover {
	color: #18bc9c;
}

.play {
	cursor: pointer;
}

/* Fix Bootstrap Modal */
.modal-backdrop {
	z-index: -1;
}
#captchaModalBody {
	text-align: center;
}
#captchaImage {
	margin: 5px;
}
#captchaSend {
	margin-top: 5px;
}

#footer, .wrapper:after {
	height: 40px;
}
#footer {
	margin-top: 25px;
	height: 42px;
	color: white;
	font-size: 0.9em;
	background-color: #171b1b;
}
#footer .container {
	width: auto;
	max-width: 680px;
}
#footer  .container .credit {
	margin: 10px 0;
}

#player {
    position: fixed;
    right: 10%;
    width: 80%;
    z-index: 1000;
}

#player-space {
	height: 42px;
}

/*jPlayer*/
.jp-audio {
	position: relative;
	text-align: left;
	width: 100%;
	height: 42px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 0;
	line-height: 0;
}
.jp-audio .jp-controls {
	width: 42px;
	height: 100%;
	background-color: #2c3e50;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.jp-audio .jp-controls a {
	text-decoration: none;
	font-size: 20px;
	padding-left: 12px;
	line-height: 42px;
	text-align: center;
	cursor: pointer;
	color: white;
}
.jp-audio .jp-controls a:hover {
	color: #18bc9c;
}
.jp-audio .jp-controls a:before {
	display: inline-block;
	font-family: flat-audio;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
	font-variant: normal;
	text-transform: none;
	speak: none;
	width: 42px;
	line-height: 42px;
	text-align: center;
	opacity: 1;
}
.jp-audio .jp-progress {
	position: absolute;
	top: 0;
	left: 42px;
	right: 0;
	height: 100%;
	background-color: #3e5871;
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.jp-audio .jp-progress .jp-seek-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	cursor: pointer;
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.jp-audio .jp-progress .jp-seek-bar .jp-play-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: #2c3e50;
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.jp-audio .jp-current-time {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	padding: 0 12px;
	font-size: 16px;
	line-height: 42px;
	text-align: right;
	pointer-events: none;
	color: white;
}
.jp-audio .jp-no-solution {
	position: absolute;
	top: 0;
	left: 42px;
	right: 0;
	height: 42px;
	padding: 8px 0;
	line-height: 24px;
	font-size: 16px;
	text-align: center;
	display: none;
	color: white;
	background-color: #2c3e50;
}

.badge-download {
	margin-right: 5px;
}

.badge-download .btn {
	color: white;
}

.badge-download>.btn+.dropdown-toggle{
	padding-left: 5px;
	padding-right: 5px;
}

/*Animated Loading*/
.spinner {
	margin: 20px auto;
	width: 50px;
	height: 30px;
	text-align: center;
	font-size: 10px;
}
.spinner > div {
	background-color: #2c3e50;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}
.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}
.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}
.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
	0%, 40%, 100% {
		-webkit-transform: scaleY(0.4)
	}
	20% {
		-webkit-transform: scaleY(1.0)
	}
}
@keyframes stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}
	20% {
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}
.heart {
	color: #FF415C;
	font-size: 1.2em;
}
.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	50% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes pulse {
	0% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	50% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}